.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-hero {
  height: 85vmin;
  width:100%;
  padding-top: 50px;
 
}

.Body {
  background-color: rgb(0, 0, 0);
  color: white;
}

.Container {
  background-color: black;
  margin-top: 75px;
  
}

.Text {
  padding: 50px;
}


